<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading">
            <div class="row">
                <h4 class="heading text-center"></h4>
            </div>
            <div class="col-xs-4">
                <img src="{{ contact.imageUrl }}" alt="" class="img-responsive"
                        style="max-height: 100px;">
            </div>
            <div class="col-xs-8">
                <div class="pull-right">
                    <button class="btn btn-primary btn-margin" (click)="onEdit()">Edit</button>
                    <button class="btn btn-danger btn-margin" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 panel">
            <h3>Email: {{ contact.email }}</h3>
            <h3>Phone: {{ contact.phone }}</h3>
        </div>
    </div>
</div>
