img {
    max-height: 50px;
}

.heading {
    font-size: 20px;
}

.margin-top {
    margin-top: 20px;
}

.btn-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-container {
    display: flex;
  }
  .center-center {
    justify-content: center;
    align-items: center;
  }
